<!-- 시작 페이지-->

<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      div {
        text-align: center;
      }
    </style>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>

  <body>
    <div>
      <h1>방명록</h1>
    </div>
    <div>
      <input type="text" id="writter" placeholder="니 이름 써라" /><br /><br />
      <textarea rows="5" cols="30" id="description"></textarea><br /><br />
      <input
        type="text"
        id="password"
        placeholder="비밀번호 써라"
      /><br /><br />
      <input type="button" id="execute" value="완료" />

      <script>
        $("#execute").click(function () {
          var writter = $("#writter").val();
          var description = $("#description").val();
          var password = $("#password").val();

          var postdata = {
            writter: writter,
            description: description,
            password: password,
          };

          $.ajax({
            type: "POST",
            url: '{{url_for("main.input_form")}}',
            data: JSON.stringify(postdata),
            dataType: "JSON",
            contentType: "application/json",
            success: function (msg) {
              if (msg == "empty writter") {
                alert("이름 써 !!!");
              } else if (msg == "empty description") {
                alert("내용 써 !!!");
              } else if (msg == "empty password") {
                alert("비밀번호 써 !!!");
              } else {
                alert("잘했어 !");
                window.location.href = "/submit";
              }
            },
          });
        });
      </script>
    </div>
  </body>
</html>
