<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      div {
        text-align: center;
      }
    </style>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div>
      <h1>비밀번호 입력해 !</h1>
    </div>
    <div>
      <input type="text" id="input_password" />
      <input type="button" id="execute" value="확인" />

      <script>
        if ("{{_method}}" == "delete") {
          $("#execute").click(function () {
            var id = "{{get_id}}";
            var input_password = $("#input_password").val();
            var origin_password = "{{password}}";

            var postdata = {
              id: id,
              input_password: input_password,
              origin_password: origin_password,
            };
            console.log("123123");
            $.ajax({
              type: "DELETE",
              url: '{{url_for("main.delete")}}',
              data: JSON.stringify(postdata),
              dataType: "JSON",
              contentType: "application/json",
              success: function (msg) {
                if (msg == "yes") {
                  alert("삭제되었어 !");
                  window.location.href = "guestbook_list";
                } else {
                  alert("비밀번호 다시 입력해 !");
                }
              },
            });
          });
        } else if ("{{_method}}" == "update") {
          $("#execute").click(function () {
            var id = "{{get_id}}";
            var input_password = $("#input_password").val();
            var origin_password = "{{password}}";

            var postdata = {
              id: id,
              input_password: input_password,
              origin_password: origin_password,
            };
            console.log(postdata);
            $.ajax({
              type: "POST",
              url: '{{url_for("main.update_passwordcheck")}}',
              data: JSON.stringify(postdata),
              dataType: "JSON",
              contentType: "application/json",
              success: function (msg) {
                if (msg == "yes") {
                  alert("수정하러 가자 !");
                  window.location.href = "update_form/" + "{{get_id}}";
                } else {
                  alert("비밀번호 다시 입력해 !");
                }
              },
            });
          });
        }
      </script>
    </div>
  </body>
</html>
