<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      div {
        text-align: center;
      }
    </style>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div>
      <input type="text" id="writter" placeholder="니 이름 써라" /><br /><br />
      <textarea rows="5" cols="30" id="description"></textarea><br /><br />
      <input type="button" id="execute" value="수정" />

      <script>
        $("#execute").click(function () {
          var id = "{{get_id}}";
          var writter = $("#writter").val();
          var description = $("#description").val();

          var postdata = {
            id: id,
            writter: writter,
            description: description,
          };

          $.ajax({
            type: "UPDATE",
            url: '{{url_for("main.update")}}',
            data: JSON.stringify(postdata),
            dataType: "JSON",
            contentType: "application/json",
            success: function (msg) {
              alert("수정되었어!");
              window.location.href = "/guestbook_list";
            },
          });
        });
      </script>
    </div>
  </body>
</html>
